:root{
  --cell_width: 45px;
  --cell_height: 45px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

#word-search-grid {
  display: grid;
  grid-template-columns: repeat(15, var(--cell_height));
  grid-template-rows: repeat(15, var(--cell_width));
  gap: 2px;
}

.cell {
  width: var(--cell_width);
  height: var(--cell_height);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: ghostwhite;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.words {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #ccc;
  width: 705px !important;
  border-radius: 5px;
  background-color: ghostwhite;
}

.pdf_paper{
  /* padding: 0px 50px 160px 50px;
  min-width: 700px !important;
  border: 5px dashed black; */
  

  
  /* the left side of the pdf doc is off. why? */
  
  height: 100% !important;
  margin: 0 auto !important;
  min-width: 705px !important;
  
  /*  */
}

.word-style{
  margin: 15px;
  padding: 0px;
}

.name-container{
  display: flex;
  padding-top: 20px;
  align-items: end;
  position: relative;
}

.name-container p {
  margin: 0;
}

.line{
  width: 300px;
  background-color: rgba(0, 0, 0, 0.514);
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 50px;
}

.btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
  font-weight: bold;
  letter-spacing: .1em;
  font-family: Arial, Helvetica, sans-serif;
}

.btns-wrapper{
  position: absolute;
  top: 0%;
  right: 20%;
  padding: 5px;
  z-index: 99;
  display: flex;
  gap: 5px;
}

.icon{
  width: 30px;
  height: 30px;
  object-fit: contain;
}