:root{
  --cell_width: 45px;
  --cell_height: 45px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#word-search-grid {
  display: grid;
  grid-template-columns: repeat(15, var(--cell_height));
  grid-template-rows: repeat(15, var(--cell_width));
  gap: 2px;
}

.cell {
  width: var(--cell_width);
  height: var(--cell_height);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: ghostwhite;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.words {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #ccc;
  width: 700px !important;
  border-radius: 5px;
  background-color: ghostwhite;
}

.pdf_paper{
  padding: 0px 50px 50px 50px;
  width: 700px !important;
}

h1{
  margin-bottom: 20px;
}

.word-style{
  margin: 20px;
}

